/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.container {
    padding-top: 70px;
    min-height: 100vh;
}

h3 {
    letter-spacing: 7px;
}